    <div class="{{ sessionFlash.type }}">
        <p>{{sessionFlash.msg}}</p>
    </div>
<form method="POST">
    <div>
        <input type="text" name="username"/>
        {{#if errors.username}}
            <p>{{errors.username.msg}}</p>
        {{/if}}
    </div>
    <div>
        <input type="password" name="password"/>
        {{#if errors.password}}
            <p>{{errors.password.msg}}</p>
        {{/if}}
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form>
<div>
    <a href='/auth/google'>Sign In with Google</a>
</div>